.container {
    margin: 0 auto;
    max-width: 960px;
}

    

.main-section {
    background-color: white;
    font-size: 15px;
    padding: 20px 30px 10px 30px;
    margin-top: 30px;
}


body {
    background-color: gainsboro;
}




textarea {
    height: 200px;
    width: 900px;
    text-align: center;
}
